{% load static %}
<html lang="ru">
<head>
    <title>{{ title }} - CSGamble</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {# CSS #}
    {% block css %}{% endblock %}
</head>

<body>
<header></header>
<main role="main" class="main">
    {% block content %}

    {% endblock %}
</main>
<footer>

</footer>
</body>
</html>

{# JS #}
{% block js %}{% endblock %}