:root {
    --text-color: #e7eaef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
     display: flex;
    position: relative;
    height: 100%;
    max-width: 100vw;
    padding: 50px;
    font-size: 15px;
    background-color: #0a0d1d;
    font-family: 'Inter', sans-serif;
}

/* Page content */
.main {
    margin-top: 20px;
    flex-grow: 1;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    grid-gap: 20px;
}

.skin {
    padding: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 136px;
    background: radial-gradient(50% 50% at 50% 50%, #383f5e 0, #1e2339 100%);
    border: 2px solid #383f5e;
    border-bottom: 2px solid var(--rarity-color);
    cursor: pointer;
}

.skin:hover .skin__img {
    transform: scale(1.05);
}

.skin__type {
    margin-bottom: 3px;
}

.skin__name {
    padding-right: 25px;
}

.skin__name, .skin__type {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    line-height: 15px;
    transition: .08s ease;
}

.skin__img {
    align-self: center;
    width: 184px;
}


/* Rarities */
.common {
    --rarity-color: #89c0db;
    --rarity-color-lighten: #9faec5;
    --rarity-color-0: rgba(137,192,219,0);
    --rarity-color-10: rgba(137,192,219,0.1);
    --rarity-color-35: rgba(137,192,219,0.35);
    --rarity-color-70: rgba(137,192,219,0.7);
    --rarity-color-90: rgba(137,192,219,0.9);
}

.uncommon {
    --rarity-color: #009ae2;
    --rarity-color-lighten: #9faec5;
    --rarity-color-0: rgba(0,154,226,0);
    --rarity-color-10: rgba(0,154,226,0.1);
    --rarity-color-35: rgba(0,154,226,0.35);
    --rarity-color-70: rgba(0,154,226,0.7);
    --rarity-color-90: rgba(0,154,226,0.9);
}

.milspec {
    --rarity-color: #1e78ff;
    --rarity-color-lighten: #9faec5;
    --rarity-color-0: rgba(30,120,255,0);
    --rarity-color-10: rgba(30,120,255,0.1);
    --rarity-color-35: rgba(30,120,255,0.35);
    --rarity-color-70: rgba(30,120,255,0.7);
    --rarity-color-90: rgba(30,120,255,0.9);
}

.restricted {
    --rarity-color: #8f00ff;
    --rarity-color-lighten: #b59bcd;
    --rarity-color-0: rgba(143,0,255,0);
    --rarity-color-10: rgba(143,0,255,0.1);
    --rarity-color-35: rgba(143,0,255,0.35);
    --rarity-color-70: rgba(143,0,255,0.7);
    --rarity-color-90: rgba(143,0,255,0.9);
}

.classified {
    --rarity-color: #ff12ae;
    --rarity-color-lighten: #bd9fb7;
    --rarity-color-0: rgba(255,18,174,0);
    --rarity-color-10: rgba(255,18,174,0.1);
    --rarity-color-35: rgba(255,18,174,0.35);
    --rarity-color-70: rgba(255,18,174,0.7);
    --rarity-color-90: rgba(255,18,174,0.9);
}

.covert {
    --rarity-color: #ff1212;
    --rarity-color-lighten: #bf9ea2;
    --rarity-color-0: rgba(255,18,18,0);
    --rarity-color-10: rgba(255,18,18,0.1);
    --rarity-color-35: rgba(255,18,18,0.35);
    --rarity-color-70: rgba(255,18,18,0.7);
    --rarity-color-90: rgba(255,18,18,0.9);
}

.rare {
    --rarity-color: #ffc701;
    --rarity-color-lighten: #bfb8a0;
    --rarity-color-0: rgba(255,199,1,0);
    --rarity-color-10: rgba(255,199,1,0.1);
    --rarity-color-35: rgba(255,199,1,0.35);
    --rarity-color-70: rgba(255,199,1,0.7);
    --rarity-color-90: rgba(255,199,1,0.9);
}