<div class="skin {{ item.rarity.name }}">
{#    <div class="skin__price">#}
{#        <span class="price price-RUB tooltip-hook">#}
{#            4470.63#}
{#        </span>#}
{#    </div>#}
{#    <div class="skin__chance tooltip-hook">#}
{#        0.007%#}
{#        <div class="tooltip tooltip_medium tooltip_right">Provably Fair</div>#}
{#    </div>#}

    <img src="{{ item.image_url }}"
         class="skin__img">

    <a class="skin__link skin__link_names"
       href="{{ item.market_url }}"
       target="_blank" rel="noreferrer noopener">
        <div class="skin__type">{{ item.weapon.name }}</div>
        <div class="skin__name">{{ item.skin_name }}</div>
    </a>

</div>